# Categorical Features Lab

## Introduction
In this lab we will use the features lib to detect and transform categorical features in the `car_data.csv` dataset. Populate a dataframe with the data from the csv and load the required libraries.

In [1]:
import pandas as pd
import numpy as np
import categorical as c

In [2]:
df = pd.read_csv('car_data.csv')

In [3]:
#print first five rows of the dataframe
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,6 years ago,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,7 years ago,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,3 years ago,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,9 years ago,2.85,4.15,5200,Petrol,NaN,Manual,0
4,swift,6 years ago,4.60,6.87,42450,Diesel,NaN,Manual,0

The categorical features in this dataset (not including the binary data) are 'Car_Name' and 'Fuel_Type'. Use the feature lib to determine the percentage of each value in those columns. Use threshold 0 to see all possible values.

In [12]:
c.selected_cat_values(df.Car_Name, threshold=0)

city                  0.094545
corolla altis         0.054545
verna                 0.050909
brio                  0.032727
i20                   0.032727
                        ...
camry                 0.003636
Bajaj Pulsar RS200    0.003636
800                   0.003636
Hero  Ignitor Disc    0.003636
Hero  CBZ Xtreme      0.003636
Name: Car_Name, Length: 94, dtype: float64

In [14]:
#print the number of unique values in "Car_Name"
len(df.Car_Name.unique())

94

In [8]:
c.selected_cat_values(df.Fuel_Type, threshold=0)

Petrol    0.825455
Diesel    0.167273
CNG       0.007273
Name: Fuel_Type, dtype: float64

The categorical feature "Car_Name" contains 94 different values. Limit the number of possible values by converting this column with a threshold of 2%.

In [18]:
new_car_names = c.df_reduced_categories(df, categoricals=['Car_Name'], threshold=.02)

In [21]:
#print the number of unique car names in this new columns
len(new_car_names.Car_Name.unique())

12

## Conclusion
In this lab we used the feature libs to detect categorical