# Numerical Data Lab

## Introduction
In this lab we will use the feature lib to transform the numerical data in the `car_data.csv` dataset. In the cells below, import the necessary libraries (`engineer.py`)and populate a dataframe with the data in `car_data.csv`.

In [3]:
import pandas as pd
import engineer as e

In [4]:
df = pd.read_csv('car_data.csv')

In [6]:
df[:2]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,6 years ago,$3.35,$5.59,27000,Petrol,Dealer,Manual,0
1,sx4,7 years ago,$4.75,$9.54,43000,Diesel,Dealer,Manual,0

In [3]:
#print a summary of the data with each columns data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
Car_Name         301 non-null object
Year             301 non-null object
Selling_Price    301 non-null object
Present_Price    301 non-null object
Kms_Driven       301 non-null int64
Fuel_Type        301 non-null object
Seller_Type      301 non-null object
Transmission     296 non-null object
Owner            301 non-null int64
dtypes: int64(2), object(7)
memory usage: 21.3+ KB

In the cell below, find all numeric features in the dataset

In [4]:
numeric_features = e.find_numeric_features(df)

In [5]:
#print the names of the numeric features
numeric_features

Index(['Selling_Price', 'Present_Price', 'Kms_Driven', 'Owner'], dtype='object')

Our numeric features include 'Selling_Price', 'Present_Price', 'Kms_Driven', and 'Owner' but the features 'Selling_Price' and 'Present_Price' are strings with a "$" at the beginning. Use a function from the feature lib to convert these prices to the proper format.

In [6]:
price_features = ['Selling_Price', 'Present_Price']

In [7]:
price_df = e.prices_to_floats(df, price_features)

Append these new values to the original dataframe and remove the old feature columns (Use the `merge_dfs` function).

In [8]:
df.drop(columns=['Selling_Price', 'Present_Price'], inplace=True)

In [9]:
new_df = e.merge_dfs(df, price_df)

In [10]:
#print first five rows of the new dataframe
new_df.head()

,Car_Name,Year,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Selling_Price,Present_Price
0,ritz,6 years ago,27000,Petrol,Dealer,Manual,0,3.35,5.59
1,sx4,7 years ago,43000,Diesel,Dealer,Manual,0,4.75,9.54
2,ciaz,3 years ago,6900,Petrol,Dealer,Manual,0,7.25,9.85
3,wagon r,9 years ago,5200,Petrol,,Manual,0,2.85,4.15
4,swift,6 years ago,42450,Diesel,,Manual,0,4.60,6.87

## Conclusion
In this lab we used our feature lib to detect and transform numerical data types. We started off by using a function from our feature lib to detect the numerical data. We saw that two of these columns (the two price columns) were represented by strings, so we used another function from the feature lib to convert them to floats.