# Missing Values Lab

## Introduction
For this lab, we will use our feature engineering library to detect the missing values in our data set.
In the cells below, import the necessary libraries and populate a dataframe with the data in `car_data.csv`.

In [1]:
import pandas as pd
import numpy as np
import missing as m

In [2]:
df = pd.read_csv('car_data.csv')

In [3]:
#print the beginning of the dataframe
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,6 years ago,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,7 years ago,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,3 years ago,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,9 years ago,2.85,4.15,5200,Petrol,,Manual,0
4,swift,6 years ago,4.60,6.87,42450,Diesel,,Manual,0

In [4]:
#print a summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
Car_Name         301 non-null object
Year             301 non-null object
Selling_Price    301 non-null float64
Present_Price    301 non-null float64
Kms_Driven       301 non-null int64
Fuel_Type        301 non-null object
Seller_Type      301 non-null object
Transmission     296 non-null object
Owner            301 non-null int64
dtypes: float64(2), int64(2), object(5)
memory usage: 21.3+ KB

In the cell below pring the number of Null values in each column using Pandas `.isna`

In [5]:
df.isna().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     5
Owner            0
dtype: int64

Use `.dropna` to drop the rows with null values that Pandas has recognized

In [6]:
df.dropna(inplace=True)

### Numerical Data
Use the `select_outliers` function from `missing.py` to find outliers in the numeric columns ("Selling_Price", "Present_Price", "Kms_Driven"). Create a list of the indices of the rows to drop.

In [7]:
to_drop = []
to_drop.extend(m.select_outliers(df.Selling_Price).index)
m.select_outliers(df.Selling_Price)

50    14.90
51    23.00
52    18.00
53    16.00
59    19.99
62    18.75
63    23.50
64    33.00
66    19.75
82    23.00
86    35.00
93    23.00
96    20.75
97    17.00
Name: Selling_Price, dtype: float64

In [8]:
to_drop.extend(m.select_outliers(df.Present_Price).index)
m.select_outliers(df.Present_Price)

50    30.61
51    30.61
53    30.61
59    35.96
62    35.96
63    35.96
64    36.23
79    30.61
82    25.39
86    92.60
93    30.61
96    25.39
Name: Present_Price, dtype: float64

In [9]:
to_drop.extend(m.select_outliers(df.Kms_Driven).index)
m.select_outliers(df.Kms_Driven)

10     999999
44     999999
111    999999
196    500000
278    999999
300    999999
Name: Kms_Driven, dtype: int64

In [10]:
drop = df.index.isin(to_drop)
df = df[~drop]

In [13]:
df.reset_index(inplace=True)

### Strings
Use the `any_matches` and `view_matches` functions to find any empty strings in the dataframe

In [14]:
m.view_matches(df, " ")

/Users/briansrebrenik/anaconda3/lib/python3.7/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

    Seller_Type
3
4
255

Replace any empty strings with "NA"

In [15]:
df.replace(to_replace= " ", value="NA", inplace=True)