# Datetimes Lab

## Introduction
For this lab, we will use our feature engineering library to work with the datetime data types in our data set. In the cells below, import the necessary libraries and populate a dataframe with the data in `car_data.csv`.

In [1]:
import pandas as pd
import date_lib as dl

In [2]:
df = pd.read_csv('car_data.csv')

In [4]:
#print the first five rows of the dataframe
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,6 years ago,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,7 years ago,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,3 years ago,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,9 years ago,2.85,4.15,5200,Petrol,,Manual,0
4,swift,6 years ago,4.60,6.87,42450,Diesel,,Manual,0

Looking at the print out above, it seems we have one datetime feature called "Year". This column represents the year of the make of the car, but it is listed as a string. Use the correct function in the feature lib to replace these strings with the actual year the car was made. Only include the year (no month or day).

In [6]:
df.Year = df.Year.apply(dl.get_past_date)

In [11]:
df.Year = pd.to_datetime(df.Year)

In [12]:
df.Year = [x.year for x in df.Year]

In [13]:
df.Year

0      2014
1      2013
2      2017
3      2011
4      2014
       ...
296    2016
297    2015
298    2009
299    2017
300    2016
Name: Year, Length: 301, dtype: int64

## Conclusion
In this lab we used our feature lib to convert a datetime column to the proper format. This data set had the year column as a string e.g. "3 years ago", which we converted to the actual year in datetime format.